// primary palette
@ffdc-white: #fff;
@ffdc-fuchsia: rgb(193, 55, 162);
@ffdc-violet: rgb(105, 78, 214);
@ffdc-charcoal: rgb(65, 65, 65);

//SECONDARY COLOR PALETTE
@ffdc-grass: rgb(86, 194, 113);
@ffdc-ocean: rgb(91, 193, 215);
@ffdc-lime: rgb(210, 215, 85);
@ffdc-crimson: rgb(228, 0, 70);
@ffdc-amber: rgb(255, 138, 61);
@ffdc-gold: rgb(240, 179, 35);


// DONT USE :)
@ffdc-orange1: rgb(240, 80, 85);
@ffdc-orange2: #e3241c;
@ffdc-darkblue: rgb(44, 45, 48);
@ffdc-grayishblue: rgb(76, 96, 114);
@ffdc-Darkgray: rgb(71, 69, 69);

